

.main-footer{
    padding-top: 1em;
    background-image: linear-gradient(rgb(39, 133, 131),rgb(44, 78, 78)); 
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    &__newsletter{
        display: flex;
        flex-direction: column;
        border:2px solid red;
        align-items: center;
        gap:0.2em;
        padding: 0.4em;
        
        &-form{
           margin:1em; 
            & >.footer__input{
                padding: 0.2em;
                padding: 3px;
                outline: none;
            }
            & > .footer__cta{
                padding: 0.4em;
                border-radius: 2px;
                color: aliceblue;
                font-weight:600 ;
                background-color: rgba(68, 65, 240, 0.836);
                box-shadow: 0 0 1px 1px silver;
                border: none;
                &:hover{
                    background-color: rgba(61, 59, 153, 0.836); 
                }
            }
        }
    }
    &__content{
        border:2px solid red;
        display: flex;
        flex-direction: column;
        padding: 2em;
        overflow: hidden;

        &-logo{
            border:2px solid red;
            order: 1;
            height: 12em;
            flex-basis: 100%;
            margin: 0 25%;
            

        }
        &-phone{
            margin: .2em 4em;
            &::after{
                content: "Phone: +57 319 383 8656";
        
            }
        @media (min-width:780px) {
                order: 1; 
                margin: 0;
                padding-left: 2em;
             }
        }
        &-email{
            margin: .4em 4.4em;
            &::after{
                content: "example@huddle.com";
            }
            @media (min-width:780px) {
               order: 1; 
               margin: 0;
            }
        }
        &-social{
            display: flex;
            justify-content: center;
            gap:4em;
            padding: 0.3em;
           & .footer__icon{
                width: 2em;
                overflow: hidden;
                
           } 
           @media (min-width:780px) {
                flex-direction: column;
        }
        }

        @media (min-width:780px) {
              flex-direction: row;
              gap: 2em;  
        }
    }
    &__copy{
        border:2px solid red;
         text-align: center;
         padding: 1em;
         font-weight: 300;
         font-size: 0.8em;
    }



    @media (min-width:780px) {
        
    }
}
