.main-contact{
  border:solid red 2px;
  margin: 2em;
  background-color: red;
}

.contact-form{
    display: flex;
    justify-content: center;
    background-color: aqua;

}
.section-one__container{
   background-attachment: blue;
}