.form-alta{
    width: 80%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter:blur(5px);
    margin: 2em;
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    &__section-one{
        border: rgba(232, 8, 8, 0.311) solid 4px;
        margin-bottom: 1em;
        padding: 1.5em;
        & div{
            display: flex;
            flex-direction: column;
            gap: 1em;
            text-align: center;
        }
        &--title{
            text-align: center;
            margin-bottom: 0.2em;
            color: rgb(63, 98, 239);
        }
        &--name input,
        &--brand input{
           background: inherit;
            outline: 0;
            border: none;
            border-bottom: 1px solid black;
            text-align: center;
            padding: 0.2em;
            margin-bottom: 0.2em;
            font-weight:600 ;

        }
        &--name label,
        &--brand label,
        &--age label,
        &--img label{
            text-align: center;
            padding: 0.2em;
            margin-bottom: 0.3em;
            font-weight:bold ;
            font-size: 1.2rem;

        }
        &--age select{
            width: 80%;
            text-align: center;
            margin: 0 auto;
            background: inherit;
            
        }
        &--img input{
            text-align: center;
            display: block;
            width: 100%;
            
        }
        



    }
    &__section-two{
        border: rgba(8, 228, 232, 0.311) solid 4px;
        margin-bottom: 1em;
        padding: 1.5em;
        & div{
            display: flex;
            flex-direction: column;
            gap: 2em;
            text-align: center;
        }
        &--title{
            text-align: center;
            margin-bottom: 0.3em;
            color: rgb(63, 98, 239);
        }
        &--short label,
        &--long label,
        &--price label,
        &--cost p,
        &--cost label{
            text-align: center;
            padding: 0.2em;
            margin-bottom: 0.3em;
            font-weight:bold ;
            font-size: 1.2rem;
        }
        &--price input{
            background: inherit;
            outline: 0;
            border: none;
            border-bottom: 1px solid black;
            text-align: center;
            padding: 0.2em;
            margin-bottom: 0.2em;
            font-weight:600 ;
            margin-bottom: 0.2em;
        }
        & textarea{
            padding: 0.2em;
            margin-bottom: 0.2em;

        }

        
    }
    &__reset,
    &__submit{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 0.4em;
        padding: 0.2em;
        color: white;
        background-color: hsla(209, 100%, 50%, 0.671);
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        @media(min-width: 680px){
            max-width: 60%;
            margin-bottom: 1em;
        }
    }
    &__reset:hover,
    &__submit:hover{  
        background-color: hsla(253, 100%, 50%, 0.747);
    }

    @media(min-width: 920px){
        max-width: 720px;
    }

}

