@mixin bgc {
        background-color: hsl(208, 100%, 97%);
        box-shadow: 0 0 2px hsl(1, 1%, 75%);
}
.hamburger-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    cursor: pointer;
    position: relative;

    
    &__top-bread{
        display:block;
        position: absolute;
        width: 80%;
        height: .3em;
        left: 10%;
        top: 20%;
        @include bgc();
    }
    
    &__meat{
        display:block;
        position: absolute;
        width: 80%;
        height: .3em;
        @include bgc();

        
        transform: translateY(-50%);
        left: 10%;
        top: 50%;
    }
    
    &__bottom-bread{
        display:block;
        position: absolute;
        width: 80%;
        height: .3em;
        left: 10%;
        bottom: 20%;
        @include bgc();
    }
    
}

.main-nav-toggle:checked ~ .main-header .hamburger-button{
    background-color: orange;
  &:hover{
    background-color: orangered;
  }  
}