.main-nav{
    
    
    &__list{
        background-image: inherit;
        padding:0;
        margin:0;
        list-style-type: none;
        @media (min-width:768px){
            display: flex;
            color: orange;
            justify-content: center;
        }
    }

    &__item{
    
    
        text-align: center;
    }


    &__link{
        display: block;
        text-decoration: none;
        color: white;
        padding: 1em;
        width: 100%;
    
        &:hover{
            font-weight:bold ;
            padding-bottom: 0.8em;
            border-bottom:solid 2px silver ;
            transition:  2s linear;

                @media (min-width:320px) {
                    border: none;
                    font-weight: 600;
                    background-color: aqua;
                    scroll-behavior: smooth;
                }
           
            
        }
    }
}