.main-nav{
    background-color: olive;
   
    &__list{
        background-color:darkcyan;
        padding:0;
        margin:0;
        list-style-type: none;
        @media (min-width:768px){
            display: flex;
            color: orange;
            justify-content: center;
        }
    }

    &__item{
    
    
        text-align: center;
    }


    &__link{
        display: block;
    
        color: white;
        padding: 1em;
        width: 100%;
    
        &:hover{
            background-color: violet;
        }
    }
}