$main-first:hsl(179, 44%, 55%);
$main-gradient:hsl(179, 55%, 34%);
$main-second:hsl(179, 49%, 46%);
$shadow:hsl(213, 30%, 32%);


.main-header{
    background-image: linear-gradient(hsl(179, 55%, 34%),hsl(179, 44%, 55%));
    padding: 1em; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:2em ;
    box-shadow: 0 0 6px 3px $shadow;
    @media (min-width:780px){
        /* line-height: 4em; */
    }
    &__hamburger-button-container{
        background-image:inherit;
        border: red solid 2px;
    }
   
    
    &__logo-container{
        border: thin solid red;
        flex-basis: 100%;
        background-image: url('/img/new-logo.png');
        background-position:center;
        background-size:5.5em;
        background-repeat: no-repeat;
        padding-top: 3em;
        object-fit: contain;
        
        @media (min-width:320px){
                flex-basis: 100%;
        }
        @media (min-width:780px){
            background-size:8em;
            padding:2em ;
            
        }
        @media (min-width:920px){
            flex-grow: 1;
            background-size: 9em;

        }
        
        
        
    }
    
    &__search-form-container{
        border: thin solid hsla(162, 72%, 50%, 0.76);
        background-color:inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        order:2;
    
        @media (min-width:780px){
            order: 2;
            flex-grow: 2;
        }
        &:focus-within{
            background-color: $main-second;
            transition: 2s ;
        }

        &__input{
            border: none;
            border-radius: 0.3em  0.3em  ;
            width: 60%;
            background-color: inherit;
            border-bottom: 2px solid  $shadow;
            color: aliceblue;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            &:focus{
                padding: 0.2em;
                text-align: center;
                outline: none;
            }
        }

        &__label{
            width: 1.8em;
            height: 1.5em;
            background-image: url('/img/search.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
                transition: 2s;
            }



        }

  }



    
    &__cart-button-container{
        border: thin solid rgba(219, 156, 38, 0.76);
        background-color:inherit;
        background-image: url('/img/cart-main.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        order: 3;
        padding: 1em;
        flex-basis: 2;
        &:hover{
            cursor: pointer;
            background-color: $main-second;
        }
        
        
        @media (min-width:320px){
        }
        @media (min-width:780px){
            order: 3;
            padding: 2em;
           
        }
        
    }
    
    &__hamburger-button-container{
        background-color:$main-first;
        border: thin solid rgba(110, 219, 38, 0.76);
        order:3;
        flex-basis: 2;



        @media (min-width:780px){
            display: none;
        }
    }
    &__main-nav-container{
        order: 4;
        flex-basis: 100%;
        display: none;
        @media (min-width:780px){
                display: block;
                flex-basis: auto;
                order: 1;
                flex-grow: 1;
            }
    
        
    }


    
}