$main-first:hsl(179, 44%, 55%);
$main-gradient:hsl(179, 55%, 34%);
$main-second:hsl(179, 49%, 46%);
$shadow:hsl(213, 30%, 32%);


.main-header{
    background-image: linear-gradient(hsl(179, 55%, 34%),hsl(179, 44%, 55%));
    padding: 0.8em; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:2em ;
    box-shadow: 0 0 6px 3px $shadow;
    @media (min-width:680px){
     
    }
    &__hamburger-button-container{
        border-radius: 2px;
        box-shadow:  -1px -1px 2px 2px #bebebe,
             1px 1px 2px 2px #ffffff;
        
    }
   
    
    &__logo-container{
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-basis: 100%;
        object-fit: cover;
        height: 4em;
    
        & img{
            display: block;
            margin:0 auto;
            width: 20em;
            height: 20em;
            
            
        }
        
        @media (min-width:320px){
                flex-basis: 100%;
                margin-bottom: 0.2em;
                padding: 2.6em;
        }
        @media (min-width:780px){
            background-size:8em;
            padding:3em ;
            
        }
        @media (min-width:920px){
            flex-grow: 1;
            background-size: 9em;
            

        }
        
        
        
    }
    
    &__search-form-container{
        /* border: thin solid hsla(162, 72%, 50%, 0.76);
        border-radius:2em ; */
        background-color:inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        order:2;
        
        @media (min-width:320px){
            width: 50%;
            padding: 0;
        }
        @media (min-width:780px){
            order: 2;
            flex-grow: 2;
        }
        &:focus-within{
            background-color: $main-second;
            transition: 2s ; 
            outline: none;
            border-radius:4px ;
        }

        &__input{
            border: none;
            border-radius: 0.3em  0.3em  ;
            width: 60%;
            background-color: inherit;
            border-bottom: 2px solid  $shadow;
            color: aliceblue;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            &:focus{
                padding: 0.2em;
                text-align: center;
                outline: none;
            }
        }

        &__label{
            width: 1.8em;
            height: 1.5em;
            background-image: url('/img/search.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
                transition: 2s;
            }



        }

  }



    
    &__cart-button-container{
        /* border: thin solid rgba(219, 156, 38, 0.76); */
        background-color:inherit;
        background-image: url('/img/cart-main.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        order: 3;
        padding: 1em;
        flex-basis: 2;
        &:hover{
            cursor: pointer;
            background-color: $main-second;
            border-radius: 40%;
            
        }
        
        
        @media (min-width:320px){
            width: 3em;
            margin-left: 2px;
        }
        @media (min-width:780px){
            order: 3;
            padding: 2em;
           
        }
        
    }
    
    &__hamburger-button-container{
        background-color:$main-first;
        /* border: thin solid rgba(110, 219, 38, 0.76); */
        order:3;
        flex-basis: 2;



        @media (min-width:780px){
            display: none;
        }
    }
    &__main-nav-container{
        order: 4;
        flex-basis: 100%;
        display: none;
        @media (min-width:780px){
                display: block;
                flex-basis: auto;
                order: 1;
                flex-grow: 1;
            }
    
        
    }


    
}