<footer class="main-footer" data-dark>
            
    <section class="main-footer__newsletter">
    <h2 class="main-footer__newsletter-title footer__paragraph-newsletter">Newsletter</h2>
    <p class="main-footer__newsletter-paragraph footer__paragraph-newsletter">
        To recieve tips on how to grow your community, sign up to our weekly newsletter. We’ll never 
        send you spam or pass on your email address.
    </p>
    <form class="main-footer__newsletter-form">
        <input type="email" class="footer__input">
        <input type="submit" class="footer__cta" value="suscribirme">
    </form>
</section>
<section class="main-footer__content" >
        <figure class="main-footer__content-logo">
            <img src="/img/logo-cosmic.png" alt="logo" class="main-footer__content-logo--img">
        </figure>
        <div class="main-footer__content-phone">
            <img src="/img/icon-phone.svg" alt="phone" class="footer__img">
        </div>
        <div class="main-footer__content-email">
            <img src="/img/icon-email.svg" alt="email" class="footer__img">
        </div>
        <div class="main-footer__content-social">
            <a href="#" class="footer__link">
                <img src="/img/fb.svg" alt="facebook" class="footer__icon">
            </a>
            <a href="#" class="footer__link">
                <img src="/img/intagram.svg" alt="intagram" class="footer__icon">
            </a>
            <a href="#" class="footer__link">
                <img src="/img/twitter.svg" alt="twitter" class="footer__icon">
            </a>
    </div> 
</section>
<section class="main-footer__copy">
    <h3>©2022 Juguetería Cosmicá. Todos los Derechos Reservados</h3>
</section>
</footer>
<button class="scroll-top-btn ">&#11014;</button>
<script src="./js/main.js" type="module"></script>
</body>
</html>