<!DOCTYPE html>
<html lang="es" data-dark>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="../css/normalize.css"> -->
    <link rel="icon" type="image/png" sizes="16x16"  href="img/favicon-16x16.png" >
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body data-dark>
    <!-- checkbox para el hamburger menu -->
    <input type="checkbox" id="main-nav-toggle" class="main-nav-toggle">
    <header class="main-header" data-dark>
        <div class="main-header__logo-container">
            <a href="/"><img src="/img/logo-cosmic.png" alt="menu principal"></a>
        </div>
        <div class="main-header__search-form-container">
            <input type="search" id="search" class="main-header__search-form-container__input">
            <label for="search" class="main-header__search-form-container__label"></label>
        </div>
        <div class="main-header__cart-button-container" title="cart"></div>
        <div class="main-header__theme">
           <button class="main-header__theme-button">🌙</button>
        </div>
        <div class="main-header__login">
            <a href="/login"><img src="/img/login.svg" alt=""></a>
        </div>
        <div class="main-header__hamburger-button-container">
            <label for="main-nav-toggle" class="hamburger-button">
                <span class="hamburger-button__top-bread"></span>
                <span class="hamburger-button__meat"></span>
                <span class="hamburger-button__bottom-bread"></span>
            </label>
        </div>
        <div class="main-header__main-nav-container">
            <nav class="main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item">
                        <a href="/" class="main-nav__link">Inicio</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/alta" class="main-nav__link">Alta</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/contacto" class="main-nav__link">Contacto</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/nosotros" class="main-nav__link">Nosotros</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="modal">
        <div class="modal__closed">x</div>
            <div class="modal__sub">
                <h3>Bienvenidos.</h3>
                <section class="sub__card">
                </section>

            </div>
        <div class="modal__price">El Total:<span></span></div>
        <button class="modal__shop">Comprar</button>
    </section>