<div class="slider__main">
    <div class="slider__main-slides">  
        <div class="slider__main-slides-item active">
            <img src="/img/advertising/photo2.jpeg" alt="publicidad1">
        </div>
        <div class="slider__main-slides-item">
            <img src="/img/advertising/advertising1.jpeg" alt="publicidad2"> 
        </div>
        <div class="slider__main-slides-item">
            <img src="/img/advertising/photo3.jpeg" alt="publicidad3">
    
        </div>
        <div class="slider__main-slides-item">
            <img src="/img/advertising/advertising3.jpeg" alt="publicidad4">
        </div>
    </div>
    <div class="slider__main-slides-btns">
        <a class="prev" href="">&laquo;</a>
        <a class="next" href="">&raquo;</a>
    </div>
</div>