<div class="slider">
    <div class="slide-track">
        <div class=" slide-track__slide">
            <img src="/img/brand/hot-wheel.png" height="100" width="250" alt="hotweel" />
        </div>
        <div class=" slide-track__slide">
            <img src="/img/brand/brand-barbie.png" height="100" width="250" alt="barbie" />
        </div>
        <div class=" slide-track__slide">
                <img src="/img/brand/brand-lego.png" height="100" width="250" alt="lego" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/brand-little.png" height="100" width="250" alt="little" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/brand-nerf.png" height="100" width="250" alt="nerf" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/brand-toy.png" height="100" width="250" alt="toy" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/Hasbro.png" height="100" width="250" alt="hasbro" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/matel.png" height="100" width="250" alt="matel" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/play-doh.png" height="100" width="250" alt="doh" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/brand-hotweel.png" height="100" width="250" alt="hotweel" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/brand-barbie.png" height="100" width="250" alt="barbie" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/brand-lego.png" height="100" width="250" alt="lego" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/brand-little.png" height="100" width="250" alt="litle" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/brand-nerf.png" height="100" width="250" alt="nerf" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/brand-toy.png" height="100" width="250" alt="toy" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/Hasbro.png" height="100" width="250" alt="hasbro" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/matel.png" height="100" width="250" alt="matel" />
            </div>
            <div class=" slide-track__slide">
                <img src="/img/brand/play-doh.png" height="100" width="250" alt="play-doh" />
            </div>
    </div>
</div>