<%-include('./partials/header.ejs')%>
<main class="form-registration" >
    <!-- Deberá contener un formulario con los siguientes campos: “nombre”, “precio”, “stock”, “marca”, “categoría”, “descripción corta”, “descripción larga”, “envío sin cargo”, “edad desde”, “edad hasta” y “foto”. -->
    <form class="form-alta" action="/alta" method="POST"  enctype="multipart/form-data">
        <section class="form-alta__section-one">
            <h2 class="form-alta__section-one--title">Producto</h2>
            <div class="form-alta__section-one--name">
                <label for="name">Nombre: <sup>*</sup></label>
                <input type="text" id="name"  name="name" autofocus required>
            </div>
            <div class="form-alta__section-one--brand">
                <label for="brand">marca: <sup>*</sup></label>
                <input id="brand"  name="brand"  required>
            </div>
            <div class="form-alta__section-one--age">
                <label for="age">Apto para niños de: <sup>*</sup></label>
                <select name="age" id="age" required >
                    <option value="0"> -seleccionar- </option>
                    <option value="0-24 meses"> 0 a 24 meses </option>
                    <option value="2-4 años"> 2 a 4 años </option>
                    <option value="4-6 amos"> 4 a 6 años </option>
                    <option value="7-8 años"> 7 a 8 años </option>
                    <option value="8-13 años"> 8 a 13 años </option>
                    <option value="14 años +"> 14 + </option>
                </select>
            </div>
            <div class="form-alta__section-one--img">
                <label for="image">Foto: <sup>*</sup></label>
                <input type="file" id="image"  name="image" required accept=".jpg,.png,.svg" >
            </div>
        </section>
        <section class="form-alta__section-two">
            <h2 class="form-alta__section-two--title">descripcion</h2>
            <div class="form-alta__section-two--short">
                <label for="descriptionShort">descripcion corta: <sup>*</sup></label>
                <textarea name="descriptionShort" id="descriptionShort" cols="30" rows="10" minlength="2" maxlength="100" placeholder="descripcíon maxima de 100 caractéres"></textarea>
            </div>
            <div class="form-alta__section-two--long">
                <label for="descriptionLong">descripcion larga: <sup>*</sup></label>
                <textarea name="descriptionLong" id="descriptionLong" cols="30" rows="10" minlength="2" maxlength="350" placeholder="descripcíon maxima de 350 caractéres"></textarea>
            </div>
            <div class="form-alta__section-two--price">
                <label for="price">precio: <sup>*</sup></label>
                <input type="number" id="price"  name="price" required>
            </div>
            <div class="form-alta__section-two--cost">
                <p>Envío sin costo:<sup>*</sup></p>
                <label for="freeShipping">si:</label>
                <input type="radio" id="cost-yes"  name="freeShipping" required value="true" >
                <label for="freeShipping">no:</label>
                <input type="radio" id="cost-no"  name="freeShipping" required  value="false">
            </div>
        </section>
        <input type="submit" class="form-alta__submit">
        <input type="reset"class="form-alta__reset">
    </form>
</main>
<%-include('./partials/footer.ejs')%>