<%- include('./partials/header.ejs')%>
<%- include('./partials/slider-header.ejs')%> 
<main class="main">
          
    <section class="section-cards">
        <header class="section-cards__header">
            <h1>Productos</h1>
            <p>En nuestra juguetería encontraras los mejores juguetes para niños de todas las edades.</p>
        </header>

        <div class="cards-container">
            <% product.forEach(prod => { %>
            <div class="card">
                <div class="card__action">
                    <a href="#" class="card__action-link">comprar</a>
                    <a href="#"class="card__action-info">mas información.</a>
                </div>
            
                <article class="card__article">
                    <div class="card__image-container">
                        <img src="" alt=" " class="card__image" height="200" width="250" >
                    </div>
                    <div class="card__content">
                        
                       <h2 class="card__content-heading"></h2>
                       <p class="card__content-brand"></p> 
                       <p class="card__content-price"></p> 
                    </div>
                </article>
                
            </div> 
            <% }); %>
        </div>   
       
    </section>
    <%- include('./partials/slider-footer.ejs')%>   
</main>

<%- include('./partials/footer.ejs')%>
