<%- include('./partials/header.ejs')%>
<div class="check">
    <h1 class="check-title">Registro Exitoso</h1>
    <p class="check-paragraph">dale click abajo para ingresar</p>
    <a href="/login" class="check-cta">  
        <img   class="check" src="/img/ok.svg" alt="ok" class="check-cta_img"> 
    </a>

</div>
<%- include('./partials/footer.ejs')%>