.card{
    /* border 5px solid green; */
    max-width: 20em;
    flex-grow: 1;
    box-shadow:
    1px 3px 5px rgba(0,0,0,0.2),
    0 0 8px rgba(0,0,0,.05)
    ;
    border: radius 5px 5px 0 0;
   /*  height: 200px; */
   /* transition: height .3s, background-color 3s; */
   transition: all .2s;
   &:hover{
    transform: scale(1.06) rotate(0.8deg);
    transform-origin:bottom;
    background-color: orange;
    }

    &:nth-child(5n+1){
        background: linear-gradient( to bottom, hsl(300,30%,55%)0%,hsl(300,30%,40%)100%);
    }   

    &:nth-child(5n+2){
        background: linear-gradient( to bottom, hsl(350,30%,55%)0%,hsl(350,30%,40%)100%);
    }   

    &:nth-child(5n+3){
        background: linear-gradient( to bottom, hsl(250,30%,55%)0%,hsl(250,30%,40%)100%);
    }   

    &:nth-child(5n+4){
        background: linear-gradient( to bottom, hsl(200,30%,55%)0%,hsl(200,30%,40%)100%);
        background-color: #f5f2cf;
        }

    &:nth-child(5n+5){
        background: linear-gradient( to bottom, hsl(250,30%,55%)0%,hsl(250,30%,40%)100%);
        background-color: #e3f3db;
    }
    &__article{
        display: flex;
        flex-direction: column;

        @media (min-width:320px){
            flex-direction: column;
        }
        @media (min-width:500px){
            flex-direction: column;
        }
    }
    &__image-container{
        background: #303030;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin: 0;
        
        @media (min-width:320px){
            width:100% ;
        }
        /* @media (min-width:500px){
            width:100%;
        } */
    

    }
    & img{
        display: block;
       width: 80%;
       height: 300px;
        object-fit: cover;
        padding: 0;
    }
    
    &__content{
        /* background-image:linear-gradient(#f7f0f0 50%,#48bea5) ;
        text-align: center; */
    }
}