.main-header__theme{
     
    &-button{

        position: absolute;
        z-index: 999;
        top: 2vh;
        right: 2vw;
        width: 3rem;
        height: 3rem;
        font-size: 2em;
        border-radius: 50%;
        outline: 0;
        border: none;
        background-color: inherit;
        transition:  all 0.3s ease-out;
        
    }

    &:hover{
        background-color: rgb(63, 57, 57);
        color:rgb(255, 217, 0);
        
    }
}

  
  
 